/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #212529;
}

#introduction_heading {
	font-weight: 800;
}

.highlight {
	color: #fe5b02;
}

#profile_image {
	border: 15px solid white;
}

.navbar {
	background-color: transparent;
	transition: all 0.5s linear;
	height: 10vh;
}

.navbar.scrolled {
  background-color: #ffffff !important;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  height: 8vh;
}

.navbar-collapse > .navbar-nav > div > .nav-link,
.navbar-collapse > .navbar-nav > div > .active {
	color: white;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	transition: color 0.5s;
}

.navbar-collapse > .navbar-nav > div > .nav-link.scrolled {
	color: black;
}

.navbar-collapse > .navbar-nav > div > .nav-link:hover,
.navbar-collapse > .navbar-nav > div > .active:hover {
	color: #fe5b02;
}

.navbar-collapse > .navbar-nav > div > .nav-link:after {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  content: '.';
  color: transparent;
  background: #fe5b02;
  height: 3px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.navbar-collapse > .navbar-nav > div > .active:after {
  bottom: 10px;
  opacity: 1;
}

.section_container {
	height: 100vh;
}

.section_container.dark {
	background-color: #212529;
	color: white;
}

.section_header {
	color: transparent;
	height: 8vh;
}

#home_header {
	height: 10vh;
}

.section_content {
	height: 92vh;
}

#introduction_container {
	height: 90vh;
}

.section_heading, .card-title {
	text-transform: uppercase;
	font-weight: 600;
}

.message1 {
  animation: message1;
}

.message2 {
  animation: message2;
}

.message1, .message2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  animation-duration: 14s;
  animation-timing-function: steps(17, end);
  animation-iteration-count: infinite;
}

.message1::after, .message2::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes message1 {
  0%, 50%, 100% {
    width: 0;
  }
  10%, 40% {
    width: 9.8em;
  }
}

@keyframes message2 {
  0%, 50%, 100% {
    width: 0;
  }
  
  60%, 90% {
    width: 9em;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.btn {
  padding: 8px 24px;
  background-color: white;
  border-color: #fe5b02;
  color: #fe5b02;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.btn:hover {
  box-shadow: 0px 10px 10px rgba(254, 91, 2, 0.5);
  transform: translateY(-5px);
  background-color: #fe5b02;
  color: white;
}

.card {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 0px 10px 10px rgba(254, 91, 2, 0.5);
  transform: translateY(-5px);
}

.skill {
  border-radius: 15px;
  transition: all 0.5s;
}

.skill:hover {
  background-color: white;
  transform: translateY(-6px);
}

#contact_content {
  height: 82vh;
}

#messageInput {
  resize: none;
}

#formButton.btn {
  background-color: #fe5b02;
  color: white;
  box-shadow: none;
  transform: none;
}

#formButton.btn:hover {
  background-color: white;
  color: #fe5b02;
}

#footer {
  height: 10vh;
}

.fa-brands {
  color: white;
}