/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

.navbar {
	height: 10vh;
}

.navbar-collapse > .navbar-nav > .nav-link,
.navbar-collapse > .navbar-nav > .active {
	color: white;
	padding: 15px;
	text-transform: uppercase;
	font-weight: 600;
	transition: all 0.5s;
}

.navbar-collapse > .navbar-nav > .nav-link:hover,
.navbar-collapse > .navbar-nav > .active:hover {
	color: #fe5b02;
}

.section_container {
	height: 100vh;
}

.section_container.dark {
	background-color: #212529;
}

.section_header {
	color: transparent;
	height: 8vh;
}

#home_header {
	height: 10vh;
}

.section_content {
	height: 92vh;
}

#introduction_container {
	color: white;
	height: 90vh;
}